@page "/"
@* @inject IJSRuntime JS *@
@inject AuthenticationStateProvider AuthenticationStateProvider
@using LoginComponent
<AuthorizeView>
    <Authorized>
        Hi, @context.User.Identity.Name
        
    </Authorized>
    <NotAuthorized>
        <div id="paypal-button-container"></div>
        @* <Login/> *@
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Inject]
    IJSRuntime _jsRuntime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("LoadButtonPaypal");
            
            StateHasChanged();
        }
    }
}
