.anim{
    color: #55a1e8;
    background: transparent;
    font-family: 'Amaranth', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    padding: 3px 15px;
    border-radius: 0;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.3), 8px 8px 0 rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0.1s;
}
.anim:hover{
    color: #fff;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
    border-color: #fff;
    transform:scale(1.1);
}
.anim span{ display: block; }
.anim:before,
.anim:after,
.anim span:before,
.anim span:after{
    content: '';
    background-color: #55a1e8;
    width: 50%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 25%;
    top: -2px;
    transition: all 0.3s ease 0s;
}
.anim:after{
    top: auto;
    bottom: -2px;
}
.anim span:before,
.anim span:after{
    height: 50%;
    width: 2px;
    top: 25%;
    left: -2px;
}
.anim span:after{
    left: auto;
    right: -2px;
}
.anim:hover:before,
.anim:hover:after,
.anim:hover span:before,
.anim:hover span:after{
    opacity: 1;
    visibility: visible;
}
.anim:hover:before{ left: 0; }
.anim:hover:after{ left: 50%; }
.anim:hover span:before{ top: 50%; }
.anim:hover span:after{ top: 0; }
@media only screen and (max-width: 767px){
    .anim{ margin-bottom: 20px; }
}